/*
Made by Lucas Silva
License: none (public domain)
*/

* {
    box-sizing: border-box;
}

body{
    background: #eee;
    font-size: 1em;
}

.card-header:hover{
  text-decoration: none;
  opacity: 0.7;
}

/*MENU*/
.inscritosn{
  font-size: .8em;
  margin-top: .5em;
}

.observacao{
  text-align: center;
  font-size: .7em;
  margin-bottom: 3em;
}

.abre-menu, .logo-site{
    display: flex;
    justify-content: center;
    align-items: center;
}

.abre-menu{
    margin-left: 2em;
}

.barra-cabecalho{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    width: 100%;
    height: 4em;
    box-shadow: 0em 0.01em 0.5em #3f4652;
}

.barra-nav-mobile{
    position: fixed;
    top: 0;
    height: 100%;
    width: 75%;
    z-index: 2;
    max-width: 350px;
    padding: 1em;
    background: #fff;
    box-shadow: 0em 0.01em 0.5em #3f4652;
    left: -80%;
    transition: left 0.5s ease-out;
}

.barra-nav-desktop{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.botao{
    padding: 0.8em 1.6em;
    border: 0px;
    border-radius: 0.4em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.botao-inscricao{
    color: #fff;
    background-color: #4dba7a;
    border: .12em solid #4dba7a;
}

.menu-principal li:last-child{
  margin-bottom: .2em;
}

.botao-inscricao:active{
    opacity: 0.7;
}

.botao-login{
    color: #149eed;
    background-color: #fff;
    border: .12em solid #149eed;
    margin-right: 1em;
    margin-bottom: 0.8em;
}

.botao-login:active{
    background: #149eed;
    color: #fff;
}

.cabecalho-menu-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
    .cabecalho-menu-mobile h1{
        margin-top: .8em;
        margin-left: .5em;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: bold;
        color: #3f4652;
        text-shadow: .08em .08em .08em #bbb;
    }

.fecha-menu, .abre-menu{
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    padding: 0;
}
    .fecha-menu .material-icons{
        padding: 0;
        margin-right: 0;
    }

.logo-site{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
    .logo-site img{
        width: 100%;
    }

.material-icons{
    margin-right: .3em;
    color: #149eed;
}

.icon-planta{
    color: #4dba7a;
    transform: translateY(-13%);
}

.icon-saude{
    color: red;
    transform: translateY(-12%);
}

.icon-business{
    color: #101631;
    transform: translateY(-13%);
}

.icon-face{
    color: #544C7F;
    transform: translateY(-13%);
}

.icon-memory{
  color: #7F7F7F;
  transform: translateY(-11%);
}

.icon-virtual{
  color: #FF8A50;
  transform: translateY(-10%);
}

.icon-arvore{
  color: #105431;
  transform: translateY(-12%);
}

.icon-nuvem{
  color: #633aae;
  transform: translateY(-13%);
}

.icon-code{
  color: #e4512d;
  transform: translateY(-10%);
}

.icon-create{
  color: #55a746;
  transform: translateY(-13%);
}

.icon-hub{
  color: #ee4b33;
  transform: translateY(-13%);
}

.icon-people{
  color: #25abe0;
  transform: translateY(-13%);
}

.icon-mouse{
  color: #626262;
  transform: translateY(-13%);
}

.icon-angular{
  color: #dd4a46;
  transform: translateY(-10%);
}

.icon-luz{
  color: #CCC243;
  transform: translateY(-13%);
}

.icon-dns{
  color: #4D607F;
  transform: translateY(-9%);
}

.icon-bubble{
  color: #795A35;
  transform: translateY(-9%);
}

.icon-cloud{
  color: #eeba37;
  transform: translateY(-9%);
}

.icon-maleta{
  transform: translateY(-12%);
}

.menu-ativo .barra-nav-mobile{
    left: 0;
}

.menu-ativo:after{
    content: "";
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
}

.menu-principal{
    margin-top: 1em;
}
    .menu-principal li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1.8em;
    }
    .menu-principal a{
		text-decoration: none;
        color: #666666;
        text-shadow: .05em .05em .05em #bbb;
    }
    .menu-principal a:active{
        color: #149eed;
    }



nav{
    font-family: 'Roboto', sans-serif;
}

.separador{
    display: block;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
    background-size: 100% 0.1em;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 0.5em;
}

/*CORPO*/

.ajuste-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.atividades{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: .8em;
    background: #eee;
}

.contato .btn-contato{
    margin-right: 0;
    margin-left: auto;
}

#aviso{
  text-align: center;
  margin-bottom: 2em;
}
#formulario{
    margin: 0 auto;
}

.btn-inscricao{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5em;
  margin-bottom: .5em;
}

.box-convidado{
    width: 100%;
    font-family: 'Open Sans',Arial,sans-serif;
    color: #3f4652;
}
    .box-convidado h3{
        text-align: center;
        font-size: .8em;
        font-weight: bold;
        text-shadow: .08em .08em .08em #eee;
    }
    .box-convidado .icon-linkedin{
        width: 2em;
        height: 2em;
        margin: 1em auto 0 auto;
    }
    .box-convidado .icon:active{
        opacity: 0.8;
    }

    #titulo-checkbox{
      margin-top: 1em;
      text-align: center;
      margin-bottom: .8em;
    }

  .checkbox-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .checkbox-cadastro table{
    margin-bottom: 1em;
  }
  .checkbox-cadastro th{
    font-weight: bold;
    text-align: center;
  }
  .checkbox-cadastro tr label{
    font-weight: normal;
  }
  .checkbox-cadastro table td, .checkbox-cadastro table th{
    border: none;
    background: #eee;
    text-align: center;
  }


.icon{
    width: 100%;
    border-radius: 10% 10%;
    box-shadow: 0em 0.01em 0.5em #3f4652;
}


.box-img-convidado{
  width: 60%;
  margin: 2em auto .4em auto;
  box-shadow: 0.15em 0.15em 0.6em #222;
}

.img-convidado{
  width: 100%;
}

.box-membro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cadastro{
    width: 100%;
    max-width: 1200px;
    margin: 1.5em auto;
    padding: .3em 1em;
    font-family: 'Roboto', sans-serif;
    color: #3f4652;
}
  .cadastro label{
    font-weight: bold;
    margin-bottom: .3em;
  }
  .cadastro .titulo-secao{
    margin-bottom: 1.5em;
  }

.corpo{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.ementa{
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    line-height: 1.7;
    font-size: .9em;
    color: #666666;
    margin-bottom: 1em;
}

.equipe{
    width: 100%;
    background: #4dba7a;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2em;
}
    .equipe h2{
        text-align: center;
        padding: 2em 1em 1em 1em;
        font-family: 'Fjalla One', sans-serif;
        color: #fff;
        line-height: 1.5;
        font-weight: bold;
        font-size: 1.5em;
    }

.faixa-convidados{
    width: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .faixa-convidados h2{
        text-align: center;
        padding: 2em 1em;
        font-family: 'Fjalla One', sans-serif;
        color: #fff;
        line-height: 1.5em;
        font-weight: bold;
        font-size: 1.2em;
    }

footer{
    background: #333;
    color:#fff;
    padding: 1em;
    font-size: .8em;
    text-align: center;
}
    footer address:last-child{
        margin-bottom: 1em;
    }

.glyph-icon{
    width: 1.5em;
    height: 1.5em;
}

.carousel-inner > img {
      width: 10%;
  }

.item{
    height: 25em;
    background: #7F7F7F;
}

.membro{
    width: 33%;
    padding: 1em;
}
    .membro img{
        width: 100%;
        border-radius: 50% 50%;
        box-shadow: 0em 0.01em 0.5em #3f4652;
    }
    .membro h3{
        margin-top: .3em;
        text-align: center;
        font-family: 'Fjalla One', sans-serif;
        color: #fff;
    }

.minicursos{
    width: 100%;
    max-width: 1200px;
    margin: 3em auto;
    background: #3f4461;
    padding: .3em 1em 3em 1em;
    box-shadow: 0em 0.01em 0.5em #3f4652;
}
.minicurso-info img{
  width: 100%;
  margin-right: 1em;
  margin-top: .5em;
  margin-bottom: 1em;
}

.palestras{
    width: 100%;
    max-width: 1200px;
    margin: 1.5em auto;
    background: #20497a;
    padding: .3em 1em 3em 1em;
    box-shadow: 0em 0.01em 0.5em #3f4652;
}

.paragrafo{
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    line-height: 1.7;
    font-size: .9em;
    color: #666666;
    margin-bottom: 1em;
}

.patrocinadores{
    background: #fff;
    width: 100%;
    padding: 2em 5em;
}
  .patrocinadores img{
    width: 100%;
    margin: 1.5em 0 1em 0;
  }
  .patrocinadores .realizacao img{
    width: 100%;
    margin: 1.5em 0 1em 0;
  }

.apoio-educacional{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.patrocinadores-ouro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 4em auto;
}

.realizacao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 4em auto;
}

.patrocinadores-prata{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto 4em auto;
}

.programacao{
    width: 100%;
    margin: 0 auto 3em auto;
    padding: 1em;
}

.programacao-tabela{
    width: 100%;
    max-width: 1200px;
    margin: 2.5em auto 0 auto;
    background: #fff;
    box-shadow: 0em 0.01em 0.5em #3f4652;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #3f4652;
}
    .programacao-tabela, td, th{
        border: .1em solid #000;
        height: auto;
        padding: .5em;
        vertical-align: middle;
        border-collapse: collapse;
    }
    .programacao-tabela i{
        color: #3f4652;
        font-size: 1.2em;
        margin: 0;
        vertical-align: text-bottom;
    }
    .programacao-tabela th{
        color: #fff;
        height: 3em;
        background: #7f8da6;
        text-align: center;
    }
    .programacao-tabela th i{
        color:#fff;
    }
    .programacao-tabela .titulo-tabela{
        border: .05em solid #000;
        background: #3f4652;
        font-weight: bold;
        height: 4em;
        font-size: 1.05em;
        text-align: center;
    }

.secao-convidados{
    width: 100%;
    padding: 0em;
    background: #fff;
    margin-top: 4em;
}

.seta-collapse{
  color: #111;
  transform: translateY(20%);
}

.sobre{
    width: 100%;
    padding: 2em;
    background: #fff;
}

.titulo-atividade{
  font-family: 'Fjalla One', sans-serif;
  color: #111;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  height: 2.5em;
}
.titulo-atividade h5{
  text-transform: uppercase;
}

.titulo-box-atividades{
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1.5em;
}
    .titulo-box-atividades i{
        color: #fff;
    }

.titulo-minicurso{
  font-family: 'Open Sans',Arial,sans-serif;
  text-align: center;
  font-size: 1em;
  color: #111;
  font-weight: bold;
  margin-bottom: .5em;
  margin-top: .5em;
}

.titulo-patrocinadores{
  font-family: 'Open Sans',Arial,sans-serif;
  text-align: center;
  font-size: 1em;
  color: #111;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}

.titulo-secao{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #3f4652;
    font-size: 1.3em;
    text-shadow: .08em .08em .08em #bbb;
    margin: .5em 0em 1em 0em;
}
    .titulo-secao .material-icons{
        font-size: 1.3em;
    }

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/*TELAS DESKTOPS E TABLETS*/

@media (min-width: 600px){
    .membro{
        width: 20%;
        margin: .5em;
        padding: 1em;
    }

    tr:hover {
    background-color: #ccc;
    }
    .box-img-convidado{
      width: 30%;
      margin: 2em auto .4em auto;
      box-shadow: 0.15em 0.15em 0.6em #222;
    }
}

@media (min-width: 768px){
    .form-group{
      width: 36%;
    }
    #cpf{
      width: 24%;
    }
    #endereco{
      width: 60%
    }
    #ddd{
      width: 7%;
    }
    #telefone{
      width: 15%;
    }
    #data-nascimento{
      width: 16%
    }
    #rg{
      width: 20%;
    }
    #ra{
      width: 20%;
    }
    #curso{
      width: 26%;
    }
    #turno{
      width: 15%;
    }
    #serie{
      width: 15%;
    }

    .checkbox-cadastro{
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: row;
      margin-top: .5em;
      margin-bottom: 0;
    }
    .checkbox-cadastro table td{
      text-align: left;
    }
    .checkbox-cadastro table th{
      text-align: left;
    }
    .box-inscricao{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .detalhe-atividade{
      width: 80%;
      margin: 0 auto;
    }
    .membro{
        width: 20%;
        padding: 1em;
        margin: .5em;
    }
    .minicurso-info{
        display: flex;
        align-items: start;
        justify-content: center;
    }
      .minicurso-info img{
        width: 50%;
        margin-right: 1em;
        margin-top: .5em;
        margin-bottom: 1em;
      }
      .minicurso-info .paragrado{
        margin-top: 0;
      }
      .titulo-minicurso{
        text-align: center;
        font-size: 1.2em;
        color: #111;
        font-weight: bold;
        margin-bottom: .5em;
      }

      .patrocinadores{
          padding-top: 3em;
          padding-bottom: 3em;
      }

      .apoio-educacional{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
        margin: 0 auto 2em auto;
      }
      .apoio-educacional img{
        width: 15%;
      }

      .patrocinadores-ouro{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-left: 0;
      }
      .patrocinadores-ouro img{
        width: 30%;
      }

      .realizacao{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto 4em auto;
      }
      .patrocinadores .realizacao img{
        width: 32%;
      }

      .patrocinadores-prata{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto 4em auto;
      }
      .patrocinadores-prata img{
        width: 15%;
      }
}

@media (min-width: 980px){
    .abre-menu, .barra-nav-mobile, .barra-nav-mobile{
        display: none;
    }
    .barra-cabecalho{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .barra-nav-desktop{
        display: inherit;
        width: 100%;
    }
    .barra-nav-desktop .botoes-acesso{
        position: absolute;
        right: 3%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .barra-nav-desktop .botoes-acesso p{
      font-size: .6em;
      margin-top: .5em;
    }
    .botao-inscricao{
        font-size: .6em;
        transition: opacity 0.5s;
    }
    .botao-inscricao:hover{
        opacity: 0.7;
    }
    .botao-login{
        margin: 0 1em 0 0;
        font-size: .6em;
        transition: color 0.5s,background-color 0.5s;
    }
    .botao-login:hover{
        background: #149eed;
        color: #fff;
    }
    body{
        font-size: 1.1em;
    }
    .faixa-convidados h2{
        padding: 2em;
        font-size: 2em;
    }
    .logo-site{
        position: absolute;
        left: 9%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .membro{
        width: 12%;
        padding: 1em;
    }
    .menu-principal{
        margin: auto;
        display: flex;
         position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
   .menu-principal li{
        display: inline-block;
        margin: 0em 1.5em 0em 0em;
    }
    .menu-principal a{
		    text-decoration: none;
        font-size: .8em;
        text-transform: uppercase;
        color: #666666;
        text-shadow: .05em .05em .05em #bbb;
        transition: color 0.5s;
    }
    .menu-principal a:hover{
        color: #149eed;
    }
    .paragrafo{
        text-indent: 1.5em;
        text-align: justify;
    }
    .ementa{
      text-align: justify;
      text-indent: 1.5em;
    }
    .sobre{
        padding: 3em 10em;
    }
    .titulo-secao{
        font-size: 2em;
    }
    .titulo-minicurso{
      text-align: left;
      font-size: 1.2em;
      color: #111;
      font-weight: bold;
      margin-bottom: .5em;
    }
    .apoio-educacional img{
        width: 10%;
    }
    .patrocinadores-ouro img{
      width: 20%;
    }
      align-items: center;

    .patrocinadores .realizacao img{
      width: 20%;
    }
    .patrocinadores-prata img{
      width: 15%;
    }
}

@media (min-width: 1380px){
    .botao-inscricao{
        font-size: .7em;
    }
   .botao-login{
        font-size: .7em;
    }
    .menu-principal a{
        font-size: 1em;
    }
    .paragrafo{
        font-size: 1.2em;
    }
    .ementa{
      font-size: 1.2em;
    }
    .patrocinadores .realizacao img{
      width: 20%;
    }
}

@media (max-width: 1200px) and (min-width: 980px){
    .botao-inscricao{
        font-size: .5em;
    }
   .botao-login{
        font-size: .5em;
    }
    .menu-principal a{
        font-size: .6em;
    }
}
