.abre-menu, .fecha-menu{
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
}

.abre-menu{
    padding: 0;
    margin-left: 1.5em;
    display: flex;
    vertical-align: middle;
}
    .abre-menu img{
        width: 100%;
        box-sizing: border-box;
    }

.banner{
    position: inherit;
    margin-top: 5em;
    background: linear-gradient(130deg,#149eed 15%, #4285f4 85%);
}

.banner img{
    width: 100%;
}

.barra-nav{
    background: #fff;
    height: 100%;
    width: 70%;
    max-width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -72%;
    transition: left 0.5s ease-out;
    box-shadow: 0em 0.01em 0.5em #3f4652;
}

body{
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    background: #eee;
    max-width: 2000px;
    margin: 0 auto;
}

.botao{
    padding: 0.8em 2em;
    border: 0px;
    border-radius: 0.4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.botao-inscricao{
    color: #fff;
    background-color: #4dba7a;
    border: .12em solid #4dba7a;
}

.botao-login{
    color: #149eed;
    background-color: #fff;
    border: .12em solid #149eed;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.botoes-acesso{
    margin-left: 1em;
}

.cabecalho-menu-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.85em;
}
    .cabecalho-menu-mobile h1{
        font-size: 1.3em;
        margin-left: 1em;
        margin-top: .5em;
    }

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;
    height: 5em;
    background-color: #fff;
    box-shadow: 0em 0.01em 0.5em #3f4652;
}

.fecha-menu{
    margin-right: 0.5em;
}

.logo-site{
    width: 100%;
    text-align: center;
    margin-right: 2.5em;
}

.logo-site, .barra-nav, .menu-principal{
    display: inline-block;
}

.menu-ativo:after{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
}

.menu-ativo .barra-nav{
    left: 0;
}

.menu-principal{
    list-style-type: none;
}   
    .menu-principal li{
        padding: 1em 0;
        width: 100%;
        margin-left: 1.5em;
    }
    .menu-principal a {
		display: block;
		line-height: 1.2em;
		text-decoration: none;
        color: #666666;
	}

.separador{
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
    background-size: 100% 0.1em;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}



/*Telas Desktops*/
@media (min-width: 980px){
    .barra-nav{
        position: static;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 3em;
        box-shadow: none;
    } 
    .botao-login{
        transition: color 0.5s,background-color 0.5s;
    }
    .botao-login:hover{
        background: #149eed;
        color: #fff;
    }
    .botao-inscricao{
        transition: opacity 0.5s;
    }
    .botao-inscricao:hover{
        opacity: 0.7;
        
    }
    .botoes-acesso{
        display: inline-block;
        margin-left: auto;
        padding: auto;
    }
    .cabecalho-menu-mobile, .abre-menu, .separador{
        display: none;    
    }
    .container{
        justify-content: space-around;
    }
    .logo-site{
        width: auto;
        text-align: center;
    }
    .menu-principal li{
        display: inline-block;
        padding: auto;
        width: auto; 
        margin-left: auto;
    }
    .menu-principal a{
        transition: color 0.5s;
        font-weight: bold;
        color: #666666;
    }
    .menu-principal a:hover{
        color: #149eed;
    }
}

/*Telas tablets maiores*/
@media (max-width: 1350px) and (min-width: 980px){
    .menu-principal{
        font-size: 0.75em;
    }
    .menu-principal li{
        margin-right: 2em;
    }
    .botao{
        padding: 0.5em 1em;
    }
}

@media (min-width: 1350px){
    .menu-principal li{
        margin-right: 2.5em;
    }
}
